# ignore everything by default
/*
*.DS_Store

# but not these files
!.gitignore
!.hushlogin
!.wezterm.lua

# allow .config directory
!/.config

# ignore everything in .config by default
/.config/*

# but not these dirs
!/.config/fish
!/.config/ghostty
!/.config/nvim


